.contain {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain form {
    border: 2px solid #1d3557;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    /* align-items: stretch; */
    /* justify-content: stretch; */
    font-family: 'Fira Sans', sans-serif;
}

.contain input {
    font-family: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    font-size: 16px;
    min-width: 400px;
    color: #1d3557;
}
.contain input::placeholder {
    color: rgba(69, 123, 157, 0.7);
}
.contain button {
    font-family: inherit;
    border: none;
    outline: none;
    background-color: #1d3557;
    color: #f1faee;
    font-size: 14px;
    align-self: stretch;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: .5rem 1rem;
    letter-spacing: 2px;
    transition: .3s ease-in-out;
}
.contain button:hover {
    background-color: #0d1c31;
}

