.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* font-family: 'Azeret Mono', monospace;
font-family: 'Fira Sans', sans-serif; */

.container {
  border: 5px solid #f1faee;
  width: 80%;
  margin: 1% auto;
  border-radius: 15px;
  padding: 0;
  padding-bottom: 20px;
}
